---
---
@import 'portfolYOU';

.border-thm {
    background-color: $bg-thm;
    color: $thm !important;
    border: 2px solid $thm !important;
}

.border-thm:hover {
    background-color: $thm;
    color: $bg-thm !important;
}

.bg-thm {
    background-color: $thm !important;
    color: $bg-thm !important;
}

.bg-thm:hover {
    background-color: $bg-thm !important;
    color: $thm !important;
    border: 2px solid $thm !important;
}

.border-htb {
    background-color: $bg-htb;
    color: $htb !important;
    border: 2px solid $htb !important;
}

.border-htb:hover {
    background-color: $htb;
    color: $bg-htb !important;
}

.bg-htb {
    background-color: $htb !important;
    color: $bg-htb !important;
}
.bg-htb:hover {
    background-color: $bg-htb !important;
    color: $htb !important;
    border: 1px solid $htb !important;
}

.border-htba {
    background-color: $bg-htba;
    color: $htba !important;
    border: 2px solid $htba !important;
}

.border-htba:hover {
    background-color: $htba;
    color: $bg-htba !important;
}

.bg-htba {
    background-color: $htba !important;
    color: $bg-htba !important;
}
.bg-htba:hover {
    background-color: $bg-htba !important;
    color: $htba !important;
    border: 1px solid $htba !important;
}

.border-rootme {
    background-color: $bg-rootme;
    color: $rootme !important;
    border: 2px solid $rootme !important;
}

.border-rootme:hover {
    background-color: $rootme;
    color: $bg-rootme !important;
}

.bg-rootme {
    background-color: $rootme !important;
    color: $bg-rootme !important;
}
.bg-rootme:hover {
    background-color: $bg-rootme !important;
    color: $rootme !important;
    border: 1px solid $rootme !important;
}

.red {
    background-color: red;
    color: red;
}

.teal {
    background-color: teal;
    color: teal;
}

.purple {
    background-color: purple;
    color: purple;
}