{%- assign images = carousel_images | strip | newline_to_br | split: '<br />' -%} 
{%- assign carousel_id = include.carousel_id -%}
{%- if include.class -%}
<div id="carouselExampleIndicators{{ carousel_id }}" class="carousel slide" data-bs-ride="false">
  <ol class="carousel-indicators">
    {% for image in images %} 
      {%- if forloop.first -%}
        <li data-bs-target="#carouselExampleIndicators{{ carousel_id }}" data-bs-slide-to="{{forloop.index0}}" class="active"></li>
      {%- else -%}
        <li data-bs-target="#carouselExampleIndicators{{ carousel_id }}" data-bs-slide-to="{{forloop.index0}}"></li>
      {%- endif -%} 
    {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% for image in images %}
      {%- assign image_url = image | split: '|' -%}
      {%- if forloop.first -%}
        <div class="carousel-item active">
          <a href="{{ image_url[1] }}" target="_blank">
            <img src="{{ image_url[0] }}" class="{{ include.class }} img-fluid"/>
          </a>
        </div>
      {%- else -%}
        <div class="carousel-item">
          <a href="{{ image_url[1] }}" target="_blank">
            <img src="{{ image_url[0] }}" class="{{ include.class }} img-fluid"/>
          </a>
        </div>
      {%- endif -%} 
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ carousel_id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ carousel_id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{%- else -%}
<div id="carouselExampleIndicators{{ carousel_id }}" class="carousel slide" data-bs-ride="false">
  <ol class="carousel-indicators">
    {% for image in images %} 
      {%- if forloop.first -%}
        <li data-bs-target="#carouselExampleIndicators{{ carousel_id }}" data-bs-slide-to="{{forloop.index0}}" class="active"></li>
      {%- else -%}
        <li data-bs-target="#carouselExampleIndicators{{ carousel_id }}" data-bs-slide-to="{{forloop.index0}}"></li>
      {%- endif -%} 
    {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% for image in images %}
      {%- assign image_url = image | split: '|' -%}
      {%- if forloop.first -%}
        <div class="carousel-item active row text-center">
          <a href="{{ image_url[1] }}" target="_blank">
            <img src="{{ image_url[0] }}" class="img-fluid"/>
          </a>
        </div>
      {%- else -%}
        <div class="carousel-item row text-center">
          <a href="{{ image_url[1] }}" target="_blank">
            <img src="{{ image_url[0] }}" class="img-fluid"/>
          </a>
        </div>
      {%- endif -%} 
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ carousel_id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ carousel_id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{%- endif -%}
<style>
  .height-350 {
    height: 350px !important;
  }
</style>