---
layout: default
title: Salle des trophées
weight: 4
permalink: /Trophies
---
<h1>Salle des trophées</h1>
{% capture list_items %}
TryHackMe
HTBAcademy
{% endcapture %}
{% include elements/list.html title="Accès rapide" type="toc" %}

<div data-aos="zoom-in-up" data-aos-delay="150" data-aos-duration="1000">
    <h2 id="tryhackme">TryHackMe</h2>
    <iframe src="https://tryhackme.com/api/v2/badges/public-profile?userPublicId=1823625" style='border:none;' width="100%"></iframe>
    {% capture carousel_images %}
    https://assets.tryhackme.com/room-badges/f8b56edca94094703f3194c898a651c2.png|https://tryhackme.com/?badge=TiFloF29:first-4-rooms
    https://assets.tryhackme.com/room-badges/81c0c4125c63d93154218e0d37c129f9.png|https://tryhackme.com/?badge=TiFloF29:hash-cracker
    https://assets.tryhackme.com/room-badges/6398a87b611eaceae32c8cd60cda5219.png|https://tryhackme.com/?badge=TiFloF29:web-fund
    https://assets.tryhackme.com/room-badges/5321059f07cc9be6cc30a40a3507cf18.png|https://tryhackme.com/?badge=TiFloF29:terminaled
    https://assets.tryhackme.com/room-badges/fc0573cd83d317e7ed22908124e350aa.png|https://tryhackme.com/?badge=TiFloF29:7-day-streak
    https://assets.tryhackme.com/room-badges/818f1646e7537d6fc363578d41cd267d.png|https://tryhackme.com/?badge=TiFloF29:ohsint
    https://assets.tryhackme.com/room-badges/0f8a9f3e5ca1e9d6b6b012689bf8808e.png|https://tryhackme.com/?badge=TiFloF29:blue
    https://assets.tryhackme.com/room-badges/913bca2213fbe6a5bb0bee9891a768f9.png|https://tryhackme.com/?badge=TiFloF29:30-day-streak
    https://assets.tryhackme.com/room-badges/2aac3252dc244c37debf916bfcfaac90.png|https://tryhackme.com/?badge=TiFloF29:mr-robot
    https://assets.tryhackme.com/room-badges/272a2498fb155c83b8740ebdac0fd3cc.png|https://tryhackme.com/?badge=TiFloF29:christmas2019
    https://assets.tryhackme.com/room-badges/1e470222126fa1d0efd4a162b58e1792.png|https://tryhackme.com/?badge=TiFloF29:adventofcyber3
    https://assets.tryhackme.com/room-badges/c464f8e0374de0dc483011e1da969efe.png|https://tryhackme.com/?badge=TiFloF29:90-day-streak
    https://assets.tryhackme.com/room-badges/b370e9b672f1b7da2661f8756c964151.png|https://tryhackme.com/?badge=TiFloF29:adventofcyber4
    https://assets.tryhackme.com/room-badges/8cb1d0bc20fbcb2472c90754106e2aa1.png|https://tryhackme.com/?badge=TiFloF29:owasp-10
    https://assets.tryhackme.com/room-badges/9fddaaf968df5befad00fe5a11a5b2c3.png|https://tryhackme.com/?badge=TiFloF29:intro-to-pentesting
    https://assets.tryhackme.com/room-badges/8e041468bfadcc4683ae9c442561f7b3.png|https://tryhackme.com/?badge=TiFloF29:intro-to-security-engineering
    https://assets.tryhackme.com/room-badges/6e7c255a28354a5ca33e3ee2cbd57f77.png|https://tryhackme.com/?badge=TiFloF29:180-day-streak
    https://assets.tryhackme.com/room-badges/027c7e68b48980d56ef1d8771a277281.png|https://tryhackme.com/?badge=TiFloF29:adventofcyber5
    https://assets.tryhackme.com/room-badges/81af1858a9e342b64e0d1413fe93a956.png|https://tryhackme.com/?badge=TiFloF29:linux-privesc
    https://assets.tryhackme.com/room-badges/691a300b7e6506f917c60e0755997d58.png|https://tryhackme.com/?badge=TiFloF29:ice
    https://assets.tryhackme.com/room-badges/ac701aba56be261972f22629f49495e9.png|https://tryhackme.com/?badge=TiFloF29:365-day-streak
    https://assets.tryhackme.com/room-badges/b73a6d0934ef3dc05f69cdfc8a29e6d8.png|https://tryhackme.com/?badge=TiFloF29:3-million-legend
    https://assets.tryhackme.com/room-badges/41a9f7cfc4a989b42981a2d877100642.png|https://tryhackme.com/?badge=TiFloF29:the-course-awakens
    https://assets.tryhackme.com/room-badges/9c73cc5a1149ba71da9b201df0998a91.png|https://tryhackme.com/?badge=TiFloF29:iac-security
    https://assets.tryhackme.com/room-badges/16543172f498c09718d326a482cac171.png|https://tryhackme.com/?badge=TiFloF29:security-awareness
    https://assets.tryhackme.com/room-badges/59cae9384a824009b8e4e944984db757.png|https://tryhackme.com/?badge=TiFloF29:network-fundamentals
    https://assets.tryhackme.com/room-badges/8eae7e5d20283ffe4b55fc6dc3c89480.png|https://tryhackme.com/?badge=TiFloF29:world-wide-web
    https://assets.tryhackme.com/room-badges/2e96e00171f0c661df4ebb8bb442f816.png|https://tryhackme.com/?badge=TiFloF29:logging-legend
    https://assets.tryhackme.com/room-badges/eee2ab1037416e1ce4d896e744ee99a7.png|https://tryhackme.com/?badge=TiFloF29:metasploitable
    https://assets.tryhackme.com/room-badges/374ab5ea83cec84f2f509746356b65f6.png|https://tryhackme.com/?badge=TiFloF29:adventofcyber2024
    https://assets.tryhackme.com/room-badges/0c5444e97b6de326f07651eb3e15d76d.png|https://tryhackme.com/?badge=TiFloF29:swordapprenticebadge
    https://assets.tryhackme.com/room-badges/b34f82abf80003f791180bbb9594825c.png|https://tryhackme.com/?badge=TiFloF29:shieldapprentice
    https://assets.tryhackme.com/room-badges/74e29a3c6b143aabb43e74a0beca652d.png|https://tryhackme.com/?badge=TiFloF29:careerreadybadge
    https://assets.tryhackme.com/room-badges/dcd34e35f40a2393da4edb53e104a89e.png|https://tryhackme.com/?badge=TiFloF29:intro-to-web-hacking
    https://assets.tryhackme.com/room-badges/d325d480dfe2724074939d6f48cde105.png|https://tryhackme.com/?badge=TiFloF29:burped
    https://assets.tryhackme.com/room-badges/d420ad41b35db1ed3bf9921fad93d6ca.png|https://tryhackme.com/?badge=TiFloF29:skilled-navigator
    https://assets.tryhackme.com/room-badges/c1be31f38decc5c5bcad32fbc5aa5a8f.png|https://tryhackme.com/?badge=TiFloF29:advanced-splunk
    https://assets.tryhackme.com/room-badges/ddcc7ea42709f5bd34d10db143404e7b.png|https://tryhackme.com/?badge=TiFloF29:friday-fixer
    https://assets.tryhackme.com/room-badges/9e881f65d3391ed44cb7b1d002cd9e42.png|https://tryhackme.com/?badge=TiFloF29:first-step-into-soc
    https://assets.tryhackme.com/room-badges/dd8d018d6fe026e1ed62055a6114c859.png|https://tryhackme.com/?badge=TiFloF29:soc-apprentice
    https://assets.tryhackme.com/room-badges/be1a33fd3d3cf0f0bc702c1f915a9704.png|https://tryhackme.com/?badge=TiFloF29:defensive-toolsmith
    https://assets.tryhackme.com/room-badges/f7baeec9be2996a0d240cc0a8bf93827.png|https://tryhackme.com/?badge=TiFloF29:advent-of-cyber-2025
    https://assets.tryhackme.com/room-badges/e6c76e4ad0346dd79a44465f77906982.png|https://tryhackme.com/?badge=TiFloF29:phishing
    https://assets.tryhackme.com/room-badges/212dc2bb10f84a069bf3331b62b3d72d.png|https://tryhackme.com/?badge=TiFloF29:soc-sim-first-alert-closed
    https://assets.tryhackme.com/room-badges/a1ee5f7b375e96ea8622a3b3cf7f3eda.png|https://tryhackme.com/?badge=TiFloF29:soc-sim-first-scenario-completed
    https://assets.tryhackme.com/room-badges/78b1f753402ff1b398bb6212cadfb81c.png|https://tryhackme.com/?badge=TiFloF29:soc-sim-100-percent-true-positive-rate
    {% endcapture %}
    {% include elements/carousel-click.html carousel_id="1" %}

    <h2 id="htbacademy">HTB Academy</h2>
    {% capture carousel_images %}
    https://academy.hackthebox.com/storage/badges/your-first-battle.png|https://academy.hackthebox.com/achievement/badge/fdb2f973-dc6a-11ed-acfc-bea50ffe6cb4
    https://academy.hackthebox.com/storage/badges/first-things-first.png|https://academy.hackthebox.com/achievement/badge/54fb4338-d715-11ed-acfc-bea50ffe6cb4
    https://academy.hackthebox.com/storage/badges/academician.png|https://academy.hackthebox.com/achievement/badge/a776fcc0-c408-11ed-acfc-bea50ffe6cb4
    https://academy.hackthebox.com/storage/badges/our-favorite-seabird.png|https://academy.hackthebox.com/achievement/badge/35368550-d6b4-11ed-acfc-bea50ffe6cb4
    https://academy.hackthebox.com/storage/badges/your-request-is-my-demand.png|https://academy.hackthebox.com/achievement/badge/2c4e6523-d711-11ed-acfc-bea50ffe6cb4
    https://academy.hackthebox.com/storage/badges/playing-with-the-mess.png|https://academy.hackthebox.com/achievement/badge/bb63affd-e670-11ed-acfc-bea50ffe6cb4
    https://academy.hackthebox.com/storage/badges/crawl-walk-run.png|https://academy.hackthebox.com/achievement/badge/54fe00a1-d715-11ed-acfc-bea50ffe6cb4
    https://academy.hackthebox.com/storage/badges/the-hunt-is-on.png|https://academy.hackthebox.com/achievement/badge/bb62f98a-e670-11ed-acfc-bea50ffe6cb4

    {% endcapture %}
    {% include elements/carousel-click.html carousel_id="2" %}

</div>