---
layout: default
title: Salle des trophées
weight: 4
permalink: /Trophies
---
<h1>Salle des trophées</h1>
{% capture list_items %}
TryHackMe
HTBAcademy
{% endcapture %}
{% include elements/list.html title="Accès rapide" type="toc" %}

<h2 id="tryhackme">TryHackMe</h2>
<script src="https://tryhackme.com/badge/1823625"></script>
{% capture carousel_images %}
https://assets.tryhackme.com/room-badges/4a5fdc8f2286580d98bf369fe19dfb19.png|https://tryhackme.com/TiFloF29/badges/first-4-rooms
https://assets.tryhackme.com/room-badges/73765817f45ec616445ac6a52b00423c.png|https://tryhackme.com/TiFloF29/badges/hash-cracker
https://assets.tryhackme.com/room-badges/45e29e5e46458aaa588b8f913100f6a4.png|https://tryhackme.com/TiFloF29/badges/web-fund
https://assets.tryhackme.com/room-badges/a7b06695efc915bbef81487913195e29.png|https://tryhackme.com/TiFloF29/badges/terminaled
https://assets.tryhackme.com/room-badges/67cab4129bab2565eb11eeb834f8c774.png|https://tryhackme.com/TiFloF29/badges/7-day-streak
https://assets.tryhackme.com/room-badges/18eb5692e5de64feb3a69864854ea294.png|https://tryhackme.com/TiFloF29/badges/ohsint
https://assets.tryhackme.com/room-badges/3bf5cfdf953b1eda87025dd96bcc3c6c.png|https://tryhackme.com/TiFloF29/badges/blue
https://assets.tryhackme.com/room-badges/9c6a1468231b19a9afee831c5e82a2bf.png|https://tryhackme.com/TiFloF29/badges/30-day-streak
https://assets.tryhackme.com/room-badges/450b50804208c094c411d4a74c224658.png|https://tryhackme.com/TiFloF29/badges/mr-robot
https://assets.tryhackme.com/room-badges/b3afe976185c4e4a152364102c2844b0.png|https://tryhackme.com/TiFloF29/badges/christmas2019
https://assets.tryhackme.com/room-badges/fb9029883b60e64926c2ba3bdac24c45.png|https://tryhackme.com/TiFloF29/badges/adventofcyber3
https://assets.tryhackme.com/room-badges/61bcc0d02eebaba159b633aff8c1f773.png|https://tryhackme.com/TiFloF29/badges/90-day-streak
https://assets.tryhackme.com/room-badges/18999ef530c2fba2e7f48a4d03452042.png|https://tryhackme.com/TiFloF29/badges/adventofcyber4
https://assets.tryhackme.com/room-badges/7fffb6f4c7031bb9e4635d9deb8da41d.png|https://tryhackme.com/TiFloF29/badges/owasp-10
https://assets.tryhackme.com/room-badges/84ead6a3a1b207412d107752dd1fcd77.png|https://tryhackme.com/TiFloF29/badges/intro-to-pentesting
https://assets.tryhackme.com/room-badges/147ced703c6dea82f889c01ec87e320a.png|https://tryhackme.com/TiFloF29/badges/intro-to-security-engineering
https://assets.tryhackme.com/room-badges/61a182f31fbaf2007ae2b558ec6d738d.png|https://tryhackme.com/TiFloF29/badges/180-day-streak
https://assets.tryhackme.com/room-badges/848c26fdb260ab01fd9a2dc78dda3ae1.png|https://tryhackme.com/TiFloF29/badges/adventofcyber5
https://assets.tryhackme.com/room-badges/251961b739a77a653ca47d7a5c9acabc.png|https://tryhackme.com/TiFloF29/badges/linux-privesc
https://assets.tryhackme.com/room-badges/aa537be285de3250d5671fbebabf024d.png|https://tryhackme.com/TiFloF29/badges/ice
https://assets.tryhackme.com/room-badges/c629eae90dd5e9ad6f94429fba7099f0.png|https://tryhackme.com/TiFloF29/badges/365-day-streak
https://assets.tryhackme.com/room-badges/f576684f5f8d781f48ef56947d5ce410.png|https://tryhackme.com/TiFloF29/badges/3-million-legend
https://assets.tryhackme.com/room-badges/2c93970b870b089afe3caf90918f999e.png|https://tryhackme.com/TiFloF29/badges/the-course-awakens
https://assets.tryhackme.com/room-badges/3047799a8c94d586915c319b410ff96c.png|https://tryhackme.com/TiFloF29/badges/iac-security
https://assets.tryhackme.com/room-badges/ecb8add106bb21237b41cc10823587d4.png|https://tryhackme.com/TiFloF29/badges/security-awareness
{% endcapture %}
{% include carousel-click.html carousel_id="1" %}

<h2 id="htbacademy">HTB Academy</h2>
{% capture carousel_images %}
https://academy.hackthebox.com/storage/badges/your-first-battle.png|https://academy.hackthebox.com/achievement/badge/fdb2f973-dc6a-11ed-acfc-bea50ffe6cb4
https://academy.hackthebox.com/storage/badges/first-things-first.png|https://academy.hackthebox.com/achievement/badge/54fb4338-d715-11ed-acfc-bea50ffe6cb4
https://academy.hackthebox.com/storage/badges/academician.png|https://academy.hackthebox.com/achievement/badge/a776fcc0-c408-11ed-acfc-bea50ffe6cb4
https://academy.hackthebox.com/storage/badges/our-favorite-seabird.png|https://academy.hackthebox.com/achievement/badge/35368550-d6b4-11ed-acfc-bea50ffe6cb4
https://academy.hackthebox.com/storage/badges/your-request-is-my-demand.png|https://academy.hackthebox.com/achievement/badge/2c4e6523-d711-11ed-acfc-bea50ffe6cb4
https://academy.hackthebox.com/storage/badges/playing-with-the-mess.png|https://academy.hackthebox.com/achievement/badge/bb63affd-e670-11ed-acfc-bea50ffe6cb4
https://academy.hackthebox.com/storage/badges/crawl-walk-run.png|https://academy.hackthebox.com/achievement/badge/54fe00a1-d715-11ed-acfc-bea50ffe6cb4
https://academy.hackthebox.com/storage/badges/the-hunt-is-on.png|https://academy.hackthebox.com/achievement/badge/bb62f98a-e670-11ed-acfc-bea50ffe6cb4

{% endcapture %}
{% include carousel-click.html carousel_id="2" %}